* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container_header {
  height: 110px;
  background-color: #3b86cc;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header_logo {
  width: 120px;
  height: 60px;
}

.grid_header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}