.fundo_login {
    /* background-color: #164C92; */
    background: linear-gradient(126.03deg, #164C92 18.93%, rgba(14, 70, 143, 0.9) 30.65%, rgba(14, 70, 143, 0.71) 41.02%, rgba(13, 70, 143, 0.61) 50.73%, rgba(13, 69, 143, 0.59) 58.1%, #0C458E 69.81%, #0C4DA1 83.21%);
    height: 100vh;
}

.imagem{
    display: flex;
    justify-content: center;
    /* padding: 15vw; */
    /* padding-left: 15vw; */
    /* width: 20vw; */
    /* height: 20vh; */

}

.logo{
    margin-top: 10vh;
    margin-left: 4.5vw;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 39vmax;
    margin-top: 10vh;
}

/* .input_login{
    width: 15vw;
    height: 1vh;
    background: transparent;
    margin-top: 5vh;
} */

.input_login {
    border: 0;
    width: 350px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: white;
    text-align: left;
    margin-top: 90px;
    margin-left: 4vh;
  }
  
  .input_login:hover,
  .input_login:focus {
    border: 0;
    border-bottom: 1px solid #6f47ff;
    
    text-align: center;
    background: transparent;
    color: white;
    text-align: left;
    outline: 0;
  }

  ::-webkit-input-placeholder {
    text-align: left;
    color: white;
  }

.btn_login{
    height: 6vh;
    margin-top: 4vw;
    width: 20vw;
    border-radius: 20vw;
    font-size: 1vw;
    color: white;
    background-color: #183861;
    border: none;
    margin-left: 6.5vh;
}
.btn:hover{
    background-color: #D5E1FA;
    cursor: pointer;
    color:  #183861;
}


.red{
    color:  red;
}